<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.cropbit.sahathanahomecare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HomeTheme.NoActionBar">
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <activity
            android:name=".activity.TreatmentRequestActivity"
            android:label="@string/app_name" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SentActivity" />
        <activity android:name="com.vexigon.libraries.onboarding.ui.activity.UserBenefitsActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/menu_profile" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/history_title" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAjmKN4bjjwKDTia-iL79XPendKYGx5RYc" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChatActivity"
            android:theme="@style/HomeTheme"></activity>
    </application>

</manifest>